<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <div>
        <form action="/submit" method="post">
            源数据库:<select name="fdatasource">
                        <option th:each="datasource : ${dtlist}" th:value="${datasource}" th:text="${datasource }" >
                    </select>
            表名：<input name="table_name" />
            列名：<input name="column_name"/>
            过滤sql：<input name="sql"/>
            源数据库:<select name="ddatasource">
                        <option th:each="datasource : ${dtlist}" th:value="${datasource}" th:text="${datasource }" >
                    </select>
            表名：<input name="table_name" />
            列名：<input name="column_name"/>
        </form>
    </div>
</body>
</html>