<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap/bootstrap-responsive.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap/bootstrap-overrides.css}" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link th:href="@{/css/lib/jquery-ui-1.10.2.custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/lib/font-awesome.css}" type="text/css" rel="stylesheet" />


    <!-- global styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/elements.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
    <!-- this page specific styles -->
    <link rel="stylesheet" th:href="@{/css/compiled/index.css}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!-- lato font -->
    <link href='http://fonts.useso.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="brand" href="/index"><img th:src="@{/img/logo.png}" /></a>

            <ul class="nav pull-right">
                <li class="notification-dropdown hidden-phone">
                    <a href="#" class="trigger">
                        <i class="icon-warning-sign"></i>
                        <span class="count">5</span>
                    </a>
                    <div class="pop-dialog">
                        <div class="pointer right">
                            <div class="arrow"></div>
                            <div class="arrow_border"></div>
                        </div>
                        <div class="body">
                            <a href="#" class="close-icon"><i class="icon-remove-sign"></i></a>
                            <div class="notifications">
                                <h3>平台使用的一些提示</h3>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> 必须在谷歌浏览器使用
                                    <span class="time"><i class="icon-time"></i> 9 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> 不要轻易的按下Enter键
                                    <span class="time"><i class="icon-time"></i> 13 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> 复制表到Oracle时,表名称要大写
                                    <span class="time"><i class="icon-time"></i> 18 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-envelope-alt"></i> 调度平台的密码为admin/123456
                                    <span class="time"><i class="icon-time"></i> 28 min.</span>
                                </a>
                                <a href="#" class="item">
                                    <i class="icon-signin"></i> 删除任务前先删除日志
                                    <span class="time"><i class="icon-time"></i> 49 min.</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown" th:text="${session.user.name} ? ${session.user.name}:'未登录'">
                        <b class="caret"></b>
                    </a>
                </li>
                <li class="settings hidden-phone">
                    <a href="/login" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>            
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/index">
                    <i class="icon-home"></i>
                    <span>首页</span>
                </a>
            </li>            
            <li>
                <a class="dropdown-toggle">
                    <i class="icon-group"></i>
                    <span>数据源管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/datasource/list">数据源列表</a></li>
                    <li><a href="/admin/new-database">新增数据源</a></li>
                    <li><a href="/datasource/copyTableForm">复制表</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle">
                    <i class="icon-edit"></i>
                    <span>同步/调度任务</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/cron/prepare">新建任务</a></li>
                    <li><a href="/cron/cronjobList">任务管理</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle">
                    <i class="icon-edit"></i>
                    <span>其他同步任务</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/admin/job-file">文件上传</a></li>
                    <li><a href="/job/jobList">任务管理</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{'/instance/list'}">
                    <i class="icon-cog"></i>
                    <span>实例管理</span>
                </a>
            </li>
            <li>
                <a th:href="@{'/user/edit/'+${session.user.id}}">
                    <i class="icon-cog"></i>
                    <span>个人信息</span>
                </a>
            </li>
            <li th:if="${session.user.role} == 'admin'">
                <a class="dropdown-toggle">
                    <i class="icon-cog"></i>
                    <span>用户管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/user/findAll">用户列表</a></li>
                    <li><a href="/admin/new-user">新增用户</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">

        <div class="container-fluid">

            <!-- upper main stats -->
            <div id="main-stats">
                <div class="row-fluid stats-row">
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">2457</span>
                            visits
                        </div>
                        <span class="date">Today</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">3240</span>
                            users
                        </div>
                        <span class="date">February 2014</span>
                    </div>
                    <div class="span3 stat">
                        <div class="data">
                            <span class="number">322</span>
                            orders
                        </div>
                        <span class="date">This week</span>
                    </div>
                    <div class="span3 stat last">
                        <div class="data">
                            <span class="number">$2,340</span>
                            sales
                        </div>
                        <span class="date">last 30 days</span>
                    </div>
                </div>
            </div>
            <!-- end upper main stats -->

            <div id="pad-wrapper">
                <h3>本平台功能模块如下</h3>
                <br>
                <div style="border:1px solid #a5b6c8;background:#eef3f7">
                <h5>一、数据源管理</h5>
                    <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;新增数据源之后，可以查看数据源连通性、数据源下的所有表以及表结构、查看表的前十条数据、删除表。支持从A数据源复制表到B数据源，其中A、B数据源支持Mysql、Oracle、SqlServer、PostgreSql等</p>
                <br>
                </div>
                <div style="border:1px solid #a5b6c8;background:#eef3f7">
                <h5>二、同步/调度任务管理</h5>
                    <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;添加完数据源、创建完需要同步的表之后，开始新建同步任务，根据页面导引创建任务(任务创建完成后不可编辑)。可以执行一次任务，也可以根据创建任务时添加的cron表达式进行任务的调。任务执行后可以查看任务实例，默认是一小时刷新实例，也支持手动刷新</p>
                <br>
                </div>
                <div style="  border:1px solid #a5b6c8;background:#eef3f7">
                <h5>三、其他任务管理</h5>
                    <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;同步任务的表单方式创建不需要用户编写json，但是平台暂时只支持Mysql、Oracle、SqlServer、PostgreSql，所以其他数据源，例如hive，mongodb等数据源，用户可以编写json文件上传执行，不支持调度</p>
                <br>
                </div>
                <div style=" border:1px solid #a5b6c8;background:#eef3f7">
                <h5>四、用户管理</h5>
                    <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;用户注册时的邮箱可以找回密码，用户分为普通用户和管理员两种角色，普通用户可以向管理员申请修改角色。普通用户只能查看自己的数据源和任务，管理员可以查看所有用户的数据源和任务</p>
                <br>
                </div>
            </div>
        </div>
    </div>


	<!-- scripts -->
    <script th:src="@{/js/jquery-latest.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.10.2.custom.min.js}"></script>
    <!-- knob -->
    <script th:src="@{/js/jquery.knob.js}"></script>
    <!-- flot charts -->
    <script th:src="@{/js/jquery.flot.js}"></script>
    <script th:src="@{/js/jquery.flot.stack.js}"></script>
    <script th:src="@{/js/jquery.flot.resize.js}"></script>
    <script th:src="@{/js/theme.js}"></script>


</body>
</html>
